<h2>Dependencies</h2>
<h4 style="font-weight: normal">Explicit dependencies are in <span class="dependency required">bold</span>.</h4>
<div class="dependencies">
  <ul class="unstyled">
    <% profile.spec_list.each do |dep,version,groups| %>
    <li><span class="dependency<%=groups.present? ? ' required' : ''%>"><%=dep%></span> <span class="muted"><small><%=version%></small></span></li>
    <% end %>
  </ul>
</div>

