<h1>Dependencies</h1>
<div class="dependencies">
  <ul>
    <% profile.spec_list.each do |dep,version,groups| %>
    <li class="dependency<%=groups.present? ? ' required' : ''%>"><%=dep%> (<%=version%>)</li>
    <% end %>
  </ul>
</div>

