<h1>Dependency Versions</h1>
<div class="dependencies">
  <ul>
    <% profile.each_pair do |group,deps| %>
    <li class="dependency group"><%= group %><%= render :partial => 'dependency_tree', :locals => { :graph => deps } %></li>
    <% end %>
  </ul>
</div>

