<h2>Dependencies</h2>
<h4 style="font-weight: normal">Explicit dependencies are in <span class="dependency required">bold</span>.</h4>
<div class="dependencies">
  <ul>
    <% profile.spec_list.each do |dep,version,groups| %>
    <li class="dependency<%=groups.present? ? ' required' : ''%>"><%=dep%> (<%=version%>)</li>
    <% end %>
  </ul>
</div>

