<h2><%= key.to_s.humanize %></h2>
<% profile.each_pair do |section,env| %>
  <h3><%= section %></h3>
  <div class="environment">
    <dl class="dl-horizontal">
      <% env.keys.sort.each do |key| %>
      <dt><%=key%></dt><dd><%=env[key]%></dd>
      <% end %>
    </dl>
  </div>
<% end %>
