<h1><%= key.to_s.humanize %></h1>
  <% profile.messages.each do |msg| %>
    <div><%= msg %></div>
  <% end if profile.respond_to? :messages %>
<ul>
  <% profile.each_pair do |k,v| %>
    <li><%= [k,v].join(': ') %></li>
  <% end %>
</ul>
