<div class="about_page">
<h3>Service Health</h3>
  <ul class="unstyled">
    <% @states.each do |component| %>
    <li class="component">
      <span class="label label-<%=component['status'] == 'error' ? 'important' : 'success'%>"><%=component['status']%></span>
      <b><%=link_to component['component'], component['component']%></b>
      <% if component['errors'].length > 0 %>
        <ul>
          <li class="component-error">
            <%= component['errors'].to_a.join('</li><li class="component-error">').html_safe %>
          </li>
        </ul>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>

