<div class="about_page">
  <% @configuration.each do |key, profile| %>
    <div class="pane pane-<%= key.to_s.parameterize %>">
      <%= render_about_pane(key, profile) %>
    </div>
  <% end %>
</div>

