.about_page .pane-dependencies .dependencies {
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  column-count:3;
}

.dependency.required {
  font-weight: bold;
}

.about_page .pane.not-ok {
  border: 3px solid #f00;
  background-color: rgba(255,0,0,0.5);
  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

dl.dl-horizontal dd {
  margin-bottom: 0px;
}

.git-log {
  white-space: nowrap;
  table {
    width: 100%;
    font-size: 85%;
    table-layout: fixed;
    tr:nth-child(odd) { background-color: lightgrey; }
    td {
      padding: 0px 3px;
      text-overflow: ellipsis;
      overflow: hidden;
      &.mono { font-family: consolas, andale-mono, monospace; }
    }
    col.git-time { width: 20%; }
    col.git-sha  { width: 8%; }
    col.git-desc { width: 50%; }
    col.git-auth { width: 22%; }
  }
}
