.about_page .pane-dependencies .dependencies {
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  column-count:3;
}

.dependency.required {
  font-weight: bold;
}

.about_page .pane.not-ok {
  border: 3px solid #f00;
  background-color: rgba(255,0,0,0.5);
  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

dl.dl-horizontal dd {
  margin-bottom: 0px;
}